/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$snes-gray: #D1D0D8;
$snes-dark-gray: #95969D;
$snes-purple: #80379C;
$snes-light-purple: #8F8291;

.header * {
    font-family: 'Play', sans-serif !important;

}

.primary-font {
  font-family: 'Play', sans-serif;
}

.no-click {
  cursor: not-allowed;
  pointer-events: none;
}
.navbar {
  border-radius: 0;
  border: 0
}
.main-container {
  min-height: 675px
}
.light-purple {
  background-color: $snes-light-purple !important;
}
.purple {
  background-color: $snes-purple !important;
  color: white !important;
  text-shadow: 1px 1px black; 
}

body {
  background-color: #F5F5F5;
}
.navbar {
  box-shadow: 0 3px 3px rgba(0,0,0,.175);
  background-color: $snes-purple
  // background: linear-gradient(#80379C, #A464BC);
}
.game-row{
  min-height: 150px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid $snes-dark-gray;
}
.fa-star {
  color: gray;
}
.search-img {
  display: block;
  margin: auto;
  max-width: 130px;
  width: 130%;
  margin-top: 10px;
}
.badge {
  margin-right: 3px;
  background-color: $snes-purple;
}
.star-gold {
  color: #F5B100;
}
.rating-bar {
  outline: none;
}
.btn-default {
  background-color: $snes-gray;
}
.btn-default:hover {
  background-color: $snes-dark-gray;
}
.btn-default.active {
  background-color: $snes-purple;
  color: white;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.game-img {
  max-width: 100%;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 0;
}
.image-col {
  text-align: center;
}
.review-button {
  background-color: #80379C;
  color: white;
}
.review-button:hover {
  color: white;
}
.review-modal {
  top: 20%;
}
.review-backdrop {
  height: 1600px;
}
.star-rating-bars {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 20px;
}
.ratings-heading {
  background-color: #D1D0D8 !important;
}
.shelf-flash {
  padding-top: 10px;
  margin: auto;
}
.avatar {
  float: left;
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 7px;
}
.user-reviews {
  padding-top: 5px;
}
// from profile
.avatar-lg {
  margin-right: 15px;
}
.activity-body {
  padding: 5px;
}
.activity-body div {
  margin-left: 10px;
  margin-top: 10px;
}
.activity-date {
  margin-left: 5px;
}
.activity-heading {
  height: 52px;
  padding: 3px;
}
.activity-heading p {
  margin-left: 10px;
  margin-top: 10px;
}
.activity-heading a {
  color: white;
}

.profile-image {
  width: 80px;
  height: 80px;
  display: block;

}
hr {
  border-color: lightgray;
}


// welcome

.signup-alert {
  padding: 0;
  height: 30px;
}
.signup-container.ng-enter, .signup-container.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.signup-container.ng-enter,
.signup-container.ng-leave.ng-leave-active {
  opacity:0;
}

.signup-container.ng-leave,
.signup-container.ng-enter.ng-enter-active {
  opacity:1;
}

.welcome-detail {
  height: 200px;
  text-align: center;
  border: 2px solid $snes-purple;
  border-radius: 5px;
  margin-left: 15px;
}
.welcome-button-display {
  margin-top:-10px;
}

// games
li.shelf-filter.active > a {
  background-color: #80379C !important;
}
.btn-group.games {
  margin-top: 5px;
}
.table-img {
  width: 100px;
}
.td-img {
  width: 125px;
}
.td-name {
  width: 200px;
}
th {
  color: white;
  font-size: 14px;  
}
th a:hover {
  color: white;
}
.game-table-row {
  height: 125px;
}
.sort-link {
  cursor: pointer;
  color: white;
}
.shelf-heading {
  background-color: white !important;
}
.my-games-header {
  padding-left: 20px;
}

//home
p.rating-text {
  margin-right: 10px;
}
.featured {
  width: 100%;
}

//login modal
.login-form {
  padding: 0 60px 20px 60px;
}
h3.login-form {
  margin-top: 0;
  padding-top: 0;
}
.login-container {
  padding: 10px;
}

//review modal
.review-modal-container {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #F5F5F5;
  border-radius: 5px;
}
.close {
  margin-top: 5px;
}

//search results
.game-name {
  font-weight: 600;
}
.pagination-wrapper {
  text-align: center;
}
.pagination .active a {
  background-color: #80379C;
  border-color: #80379C;
}
.pagination a {
  color: #80379C;
}
.pagination .active a:hover {
  background-color: #95969D;
  border-color: #80379C;
}

// index (shell) - mainly header/footer styling
.footer-left-text {
  padding-top: 10px;
}
.search-bar {
  position: relative;
  width: 300px;
  top: 8px;
}
.search-spinner {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
}
.footer {
  position: relative;
  margin-bottom: 0;
}
.gb-footer-link {
  margin-right: 10px;
  margin-top: 5px;
}
.gh-footer-link,
.li-footer-link {
  margin-top: 10px;
  margin-right: 15px;
}
.navbar-brand {
  padding: 5px 15px;
  text-shadow: 1px 1px black;
}
.dropdown-menu a:hover {
  background-color: #80379C !important;
}
.dropdown.open .dropdown-toggle {
  background-color: #95969D !important;
}
.header .nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
}

// highlight on header links
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  border-color: white;
  background-color: #9D9D9D !important;
}

.top-highlight{
  padding: 10px !important;
  margin-top: 4px;
  box-sizing: border-box;
}
.top-highlight:hover {
  margin-top:0;
  border-top: 4px solid white;
}
