/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";

$snes-gray: #D1D0D8;
$snes-dark-gray: #95969D;
$snes-purple: #80379C;
$snes-light-purple: #8F8291;


// for reference
// .row {
//   width: 700px;
//   margin: 40px auto;
//   background-color: #FFFFFF;
//   box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.05);
//   border: 1px solid #DDDDDD;
//   padding: 2em;
//   z-index: 1;
// }

body {
  background-color: #F5F5F5;
}
.navbar {
  box-shadow: 0 3px 3px rgba(0,0,0,.175);
  background-color: $snes-purple;
}
.game-row{
  min-height: 150px;
  padding-bottom: 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid $snes-dark-gray;
}
.fa-star {
  color: gray;
}
.img-thumbnail {
  display: block;
  margin: auto;
  max-width: 130px;
  width: 130%;
  margin-top: 10px;
}
.badge {
  margin-right: 3px;
  background-color: $snes-purple;
}
.star-gold {
  color: gold;
}
.rating-bar {
  outline: none;
}
.btn-default {
  background-color: $snes-gray;
}
.btn-default:hover {
  background-color: $snes-dark-gray;
}
.btn-default.active {
  background-color: $snes-purple;
  color: white;
}
