<div ng-controller="NavCtrl" class="navbar navbar-inverse header">
  <div class="container">
<!-- BRAND -->
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class="primary-font h2">good<b>games</b></span>
      </a>
    </div>
<!-- SEARCH BAR -->
    <div class="navbar-left">
      <div class="search-bar">
        <form ng-controller="SearchCtrl" ng-submit="getGames()">
          <div class="form-group">
            <input type="text" ng-model="query" placeholder="Search games" class="form-control">
          </div>
        </form>
        <%= image_tag 'spinner.gif', class:'search-spinner' %>
      </div>
    </div>
<!-- RIGHT SIDE LINKS -->
    <div class="navbar-right">
      <div ng-if="currentUser">
        <ul class="nav navbar-nav">
          <li ng-if="currentUser"><a class='top-highlight' ui-sref="games">MY GAMES</a></li>
          <li class="dropdown">
            <a class='top-highlight' href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">{{currentUser.username | uppercase}} <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a class="navbar-link" ui-sref="profile">Profile</a></li>
              <li><a href='' class="navbar-link" ng-click="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <div ng-if="!currentUser">
        <ul class="nav navbar-nav">
          <li><a href='' class="top-highlight navbar-link" ng-click="login()">Login</a></li>
          <li><a class="top-highlight navbar-link" ui-sref="welcome">Sign up</a></li>
        </ul>
      </div>
    </div>
  </div><!-- end container -->
</div><!-- end header -->