<%= render 'header' %>

<!-- MAIN ANGULAR UI-VIEW -->
<div class="main-container container animate-repeat" ui-view></div>


<%= render 'footer' %>

<!-- HELPS WITH INITIAL DETERMINATION OF USER LOGIN STATUS (FOR REDIRECT) -->
<script>
  <% if current_user %>
    var loggedIn = true;
  <% else %>
    var loggedIn = false;
  <% end %>
</script>

