<h1>App shell</h1>
Pages: <br>
<a ui-sref="app.welcome">Welcome</a>
<a ui-sref="app.intro">Introduction</a>
<a ui-sref="app.search">Search</a>
<a ui-sref="app.games">games</a>
<a ui-sref="app.game-detail">game-detail</a>
<a ui-sref="app.profile">profile</a>
<a ui-sref="app.profile-edit">profile-edit</a>
<a ui-sref="app.about">about</a><br>
Modals: <br>
<a ui-sref="app.login">login</a>
<a ui-sref="app.sign up">sign up</a>
<a ui-sref="app.add review">add review</a>

<div ui-view></div>