<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-left">
    Pages: <br>
    <a class="navbar-link" ui-sref="app.home">Home</a>
    <a class="navbar-link" ui-sref="app.welcome">Welcome</a>
    <a class="navbar-link" ui-sref="app.intro">Introduction</a>
    <a class="navbar-link" ui-sref="app.search">Search</a>
    <a class="navbar-link" ui-sref="app.games">games</a>
    <a class="navbar-link" ui-sref="app.game-detail">game-detail</a>
    <a class="navbar-link" ui-sref="app.profile">profile</a>
    <a class="navbar-link" ui-sref="app.profile-edit">profile-edit</a>
    <a class="navbar-link" ui-sref="app.about">about</a><br>
    </div>
    <div class="navbar-right">
    Modals: <br>
    <a class="navbar-link" ng-click="login()">Login</a>
    <a class="navbar-link" ng-click="signup()">Signup</a>
    </div>
  </div>
</div>
  <div class="container" ui-view></div>