<img ng-src="{{game.medium_image}}">
<h1>{{game.name}}</h1>
<h2>{{game.original_release_date | limitTo: 4 || game.expected_release_year | limitTo: 4 || 'unknown'}}</h2>
<a ng-click="review()">Add a review</a>

Release date:
{{ release_date | date}}


{{game}}