<div class="row">
  <div class="col-sm-12 col-md-9">
    <h2>Search results ({{games.length || 0}})</h2>
    <p class="no-results" ng-show="!games || games.length==0">No results found</p>
    <div class="game-row panel panel-default row" ng-repeat="game in games">
      <div class="game-image col-sm-2">
        <a ui-sref="game-detail({id: game.id})"><img class="img-thumbnail search-img" ng-src="{{game.image.thumb_url}}"></a>
      </div>  
      <div class="game-text col-sm-8">
        <h4>
          <a ui-sref="game-detail({id: game.id})"><span class='game-name'>{{game.name}}</span></a>
          <span>({{ game.original_release_date || game.expected_release_year || 'n/a' | limitTo : 4 }})</span>
          <i ng-repeat="s in [1,2,3,4,5]" ng-class="{'fa-star':s<=ratings[game.id].average, 'fa-star-half-o':s>ratings[game.id].average&&s<=(ratings[game.id].average+0.5), 'fa-star-o':s>ratings[game.id].average&&s>(ratings[game.id].average+0.5)}"class="fa star-gold"></i>
          <span ng-if="ratings[game.id].average" class="text-muted h5">({{ratings[game.id].average | number:2}} average user rating)</span>
          <span ng-if="!ratings[game.id].average" class="text-muted h5">No ratings yet</span>
        </h4>
        <p><span class="badge" ng-repeat="platform in game.platforms">{{platform.name}}</span></p>
        <p>
          <small>{{game.deck}}</small><br>
          <small class="text-muted">My Rating: </small><rating ng-model="ratings[game.id].userRating" max="5" state-on="'fa fa-star star-gold'" state-off="'fa fa-star'" ng-change="currentUser ? addRating(game.id) : login()" class="rating-bar"></rating>&nbsp;&nbsp;<span class="{{'rating-flash-'+game.id}}"></span>
        </p>
        <div class="btn-group">
          <label tooltip="Playing" tooltip-placement='bottom' tooltip-trigger="mouseenter" class="btn btn-default btn-sm" ng-model="userShelves[game.id].shelf" btn-radio="'playing'" ng-click="currentUser ? addShelf(game.id) : login()"><i class="fa fa-gamepad fa-lg"></i></label>
          <label tooltip="Played" tooltip-placement='bottom' tooltip-trigger="mouseenter" class="btn btn-default btn-sm" ng-model="userShelves[game.id].shelf" btn-radio="'played'" ng-click="currentUser ? addShelf(game.id) : login()"><i class="fa fa-check-circle fa-lg"></i></label>
          <label tooltip="Backlog" tooltip-placement='bottom' tooltip-trigger="mouseenter" class="btn btn-default btn-sm" ng-model="userShelves[game.id].shelf" btn-radio="'backlog'" ng-click="currentUser ? addShelf(game.id) : login()"><i class="fa fa-bookmark fa-lg"></i></label>
        </div>&nbsp;&nbsp;<span class="{{'shelf-flash-'+game.id}}"></span>
      </div>
    </div>
  </div>
</div>


<style>
.game-name {
  font-weight: 600;
}
</style>
