<div class="row">

<!-- TODO:  Fill this part out more -->
<!-- LEFT SIDE WELCOME DISPLAY -->
  <div class="col-md-8">
    <h1 class="primary-font">Welcome to good<b>games</b></h1>
    <h3 class="primary-font">The best place to keep track of your game collection and share your ratings and reviews with friends</h3>
    <br><br>
    <div class="row">
      <div class="col-md-5 welcome-detail">
        <h3><i class="fa fa-star"></i> Rate</h3>
        <h4>Rate and review all your favorite games and read other gamer's reviews</h4>
      </div>
      <div class="col-md-5 welcome-detail">
        <h3>
          <div class="btn-group welcome-button-display">
            <label class="btn btn-default btn-sm no-click"><i class="fa fa-gamepad fa-lg"></i></label>
            <label class="btn btn-default btn-sm no-click"><i class="fa fa-check-circle fa-lg"></i></label>
            <label class="btn btn-default btn-sm no-click"><i class="fa fa-bookmark fa-lg"></i></label>
          </div>
          Track
        </h3>
        <h4>Track your game collection using the Playing, Played, and Backlog shelves</h4>
      </div>
    </div>
  </div>

<!-- RIGHT SIDE SIGNUP FORM -->
  <div class="col-md-4">
    <div ng-if="!currentUser" class="signup-container">
      <h3>Sign up now!</h3>
      <form>
        <div class="form-group">
          Pick a username:
          <input type='text' class="form-control" ng-model="user.username">
          <span ng-show="errors.username" class="label label-danger pull-right">
            <span class="glyphicon glyphicon-exclamation-sign"></span> 
            username {{errors.username[0]}}
          </span>
        </div>
        <div class="form-group">
          Email:
          <input type='text' class="form-control" ng-model="user.email">
          <span ng-show="errors.email" class="label label-danger pull-right">
            <span class="glyphicon glyphicon-exclamation-sign"></span> 
            email {{errors.email[0]}}
          </span>
        </div>
        <div class="form-group">
          Password:
          <input type='password' class="form-control" ng-model="user.password">
          <span ng-show="errors.password" class="label label-danger pull-right">
            <span class="glyphicon glyphicon-exclamation-sign"><span> 
            password {{errors.password[0]}}
          </span>
        </div>
        <div class="form-group">
          Confirm:
          <input type='password' class="form-control" ng-model="user.password_confirmation">
          <span ng-show="errors.password_confirmation" class="label label-danger pull-right">
            <span class="glyphicon glyphicon-exclamation-sign"></span> 
            password confirmation {{errors.password_confirmation[0]}}
          </span>
        </div>
        <button class="btn btn-default purple" ng-click="signup()">Register</button>
      </form>
    </div>
  </div>
</div>
