<div class="row">
  <div class="col-sm-8">
<h1 class="primary-font">good<b>games</b></h1>
<h3 class="primary-font">Keep track of your game collection and share your reviews with friends</h3>
  </div>
  <div class="col-sm-4">
  <div ng-if="!currentUser" class="signup-container">
  <h3>Sign up now!</h3>
  <form>
  <div class="form-group">
   Pick a username:
   <input type='text' class="form-control" ng-model="user.username">
   <span ng-show="errors.username" class="label label-danger pull-right"><span class="glyphicon glyphicon-exclamation-sign"></span> username {{errors.username[0]}}</span>
   </div>
  <div class="form-group">
   Email:
   <input type='text' class="form-control" ng-model="user.email">
   <span ng-show="errors.email" class="label label-danger pull-right"><span class="glyphicon glyphicon-exclamation-sign"></span> email {{errors.email[0]}}</span>
   </div>
  <div class="form-group">
   Password:
   <input type='password' class="form-control" ng-model="user.password">
   <span ng-show="errors.password" class="label label-danger pull-right"><span class="glyphicon glyphicon-exclamation-sign"></span> password {{errors.password[0]}}</span>
   </div>
  <div class="form-group">
   Confirm:
   <input type='password' class="form-control" ng-model="user.password_confirmation">
   <span ng-show="errors.password_confirmation" class="label label-danger pull-right"><span class="glyphicon glyphicon-exclamation-sign"></span> password confirmation {{errors.password_confirmation[0]}}</span>
   </div>
   <button class="btn btn-default purple" ng-click="signup()">Register</button>
  </form>
  </div>
</div>

</div>

<style>
.signup-alert {
  padding: 0;
  height: 30px;
}
.signup-container.ng-enter, .signup-container.ng-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.signup-container.ng-enter,
.signup-container.ng-leave.ng-leave-active {
  opacity:0;
}

.signup-container.ng-leave,
.signup-container.ng-enter.ng-enter-active {
  opacity:1;
}

</style>